<tr>
    <th colspan="2">{{title}}</th>
</tr>
{{#each map}}
<tr>
    <td>xwing-miniatures-{{../name}}-{{@key}}</td>
    <td><i class="xwing-miniatures-{{../name}} xwing-miniatures-{{../name}}-{{@key}}"></i></td>
</tr>
{{/each}}
